@{
    ViewBag.Title = "Home Page";
}
@using TileGenerator.ServiceReference1


<div class="row">
    <br/>
    Za primjer korištenja generatora koristi se link:
    <br/>
    http://localhost:52385/Home/Create?url={0}&destination={1}.xml
    <br/>
    Umjesto {0} se unese url slike za koju se treba generirati tileove, a umjesto {1} se unese path gdje da tileovi budu spremljeni.
</div>