@{
    ViewBag.Title = "Home Page";
}
@using TileGenerator.ServiceReference1


<div class="row">
    <br/>
    <p class="row">
        Za korištenje generatora pod URL se unese URL slike za 
        koju želimo generirati tileove a pod Ime Filea se 
        unese ime kako da se xml file i folder sa Tileovima zove.
    </p>
</div>

<div class="row">
    @using (Html.BeginForm("Create", "Home", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-1">
                @Html.Label("Url:")
            </div>
            <div class="col-md-4">
                @Html.Editor("url")
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.Label("Ime Filea:") 
            </div>
            <div class="col-md-4">
                @Html.Editor("destination")
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Create" />
        </div>
    }
</div>