
@{
    ViewBag.Title = "Test";
}
@using System.Web

<h2>Test</h2>

@{
    string tileLocation = "../../Output/" + ViewBag.TileLocation+".xml";
 }

<div id="test" style="height:576px; width:1024px; border:solid; background-color:#CCC"></div>
<script src="~/Scripts/openseadragon.min.js"></script>
<script type="text/javascript">		
      var viewer = OpenSeadragon({
        id:            'test',
        prefixUrl:     '../../images/',
        tileSources: "@tileLocation",
        animationTime: 0.5,
        springStiffness: 10,
        minZoomLevel: 1,
        showNavigator: true,
        navigatorPosition: 'BOTTOM_RIGHT',
        navigatorSizeRatio: 0.15
      });

</script>